<h1>Sign Up</h1>

<form action="<%= users_url %>" method="POST">
  <%= auth_tag %>

  <label>Email
    <input type="text" name="user[email]" value="<%= @user.email %>">
    <br>
  </label>

  <label>Password
    <input type="password" name="user[password]" value="<%= @user.password %>">
    <br>
  </label>

  <h3>Create your first post!</h3>
  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>"><br>
  </label>

  <label>Description<br>
    <textarea name="post[body]"></textarea>
  </label><br>

  <% @post.links.each do |link| %>
    <label>Name
      <input type="text" name="link[<%= link.object_id %>][name]">
    </label><br>


    <label>URL
      <input type="text" name="link[<%= link.object_id %>][url]">
    </label><br>
    <br>

  <% end %>

  <input type="submit" value="Sign Up">
</form>