<h1>New Post</h1>

<form action="<%= posts_url %>" method="POST">
  <%= auth_tag %>

  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>"><br>
  </label>

  <label>Description<br>
    <textarea name="post[body]"></textarea>
  </label><br>


  <h3>Links</h3>
  <% @post.links.each do |link| %>
    <label>Name
      <input type="text"
        name="link[<%= link.object_id %>][name]"
        value="<%= link.name %>">
    </label><br>

    <label>URL
      <input type="text"
        name="link[<%= link.object_id %>][url]"
        value="<%= link.url %>">
    </label><br>
    <br>

  <% end %>

  <h3>Friend Circles</h3>
  <% current_user.friend_circles.each do |circle| %>
    <label>
      <input type="checkbox"
        name="post[friend_circle_ids][]"
        value=<%= circle.id %>>
      <%= circle.name %>
    </label><br>
  <% end %>

  <br>

  <input type="submit" value="Submit Post">
</form>